.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-style {
  margin: 100px 0;
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}

.btn {
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
}

.operator {
  background-color: #fe9241;
  color: white;
}
